$mainColor: #082295ce;
$mainColorAlt: #0c76f82b;
$secondaryColor: #4ff80184;
$darkColor: #8590aa;
$tertiaryColor: #d3f609;
$tertiaryAlt: #d3f609d5;
$auxiliaryColor: #301a4b;
$headerColor: #011f475c;
$redOrange: #b2388d;
$mainColorTransparent: #74141459;
$grayColor: #aaaaaae6;
$orangeColor: #eda85ed3;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html {
  font-family: "Noto Sans";
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0.1px;
  // background-image:
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  border: 1px solid $mainColor;
  grid-column: 1 / span 2;
  background-color: #011f475c;
  color: $secondaryColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  // border: 1px solid red;
  display: grid;
  width: 100%;
  grid-template-columns: 35% 65%;
  height: 885px;
  border-radius: 5px;
  grid-template-columns: 1fr 3fr;
  overflow: overlay;
}
#betterReadsTitle {
  font-family: "Fredoka One", cursive;
  color: #d3f609;
}

#homeContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}
.Menu {
  position: relative;
  top: 1.3em;
  right: 4em;
  height: 100px;
}

.m-item {
  position: absolute;
  top: 0;
  height: 34px;
  width: 4em;
  background-color: #301a4b;
  // box-shadow: 1px 2px 2px #301A4B;
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #edffec;
  cursor: pointer;
  transition: 0.5s;
  // font-family: 'Arsenal', sans-serif;
  font-family: "Fugaz One", cursive;
}

.m-item:hover {
  border: 1px solid black;
}

.m-logo {
  z-index: 1;
}

.open-1 {
  top: 1.8em;
  background-color: $tertiaryAlt;
  height: 40px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.open-2 {
  top: 3.9em;
  background-color: $tertiaryAlt;
  height: 40px;
  opacity: 0.8;
}

.open-3 {
  top: 6.02em;
  background-color: $tertiaryAlt;
  height: 40px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.open-4 {
  top: 8.12em;
  background-color: $tertiaryAlt;
  height: 40px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.open-5 {
  top: 10.22em;
  background-color: $tertiaryAlt;
  height: 40px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.open-6 {
  top: 12.32em;
  background-color: $tertiaryAlt;
  height: 40px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.navLinks {
  text-decoration: none;
  font-size: 14px;
}

.bodyDiv {
  margin-top: 150px;
  width: 400px;
  height: 615px;
  color: $tertiaryColor;
  background: $headerColor;
  box-shadow: 1px 10px 11px 1px rgba(0, 0, 0, 0.52);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  overflow-y: scroll;

  #randomQuoteContainer {
    height: 300px;
    width: 80%;
    background: $secondaryColor;
    color: white;
    border-radius: 3px;
    position: relative;
    top: 10px;
    display: flex;
    // justify-content: center;
    align-items: center;
  }
  #randomQuote {
    list-style-type: none;
    position: relative;
    right: 9px;
    bottom: 15px;
  }

  #randomText {
    font-size: 30px;
    margin-bottom: 20px;
  }

  #author {
    font-size: 15px;
  }

  #bookContainer,
  .review {
    display: flex;
    height: 60%;
    width: 80%;
    background: $secondaryColor;
    color: white;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    top: 10px;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    margin: 5px;
    justify-content: center;
    // overflow-y: scroll;
  }

  // .book,
  // .review {
  //   display: flex;
  //   flex-direction: column;
  //   margin: 15px;
  //   padding: 10px;
  //   background-color: $secondaryColor;
  //   color: white;
  //   justify-content: start;
  //   margin-left: 25%;
  //   margin-top: 20px;
  //   width: 80%;
  //   min-height: 40%;
  //   // box-shadow: 2px 2px 2px black;
  //   border-radius: 3px;
  // }

  button,
  #button {
    height: 40px;
    width: 140px;
    font-size: 1em;
    // border-radius: 5px;
    color: $auxiliaryColor;
    background-color: $tertiaryColor;
    border: 1px solid rgba(78, 12, 12, 0.95);
    border-radius: 3px;
    margin: 3px;
  }
  button:hover,
  #button:hover {
    background-color: $darkColor;
    color: $secondaryColor;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
    transition: 0.3s;
  }

  input {
    width: 350px;
    height: 40px;
    border-radius: 3px;
    font-size: 1.2em;
    border: 1px solid $darkColor;
    // box-shadow: 1px 1px 1px black;
    // margin-bottom: 5px;
    // background-color: $secondaryColor;
  }

  #welcome {
    font-size: 3em;
    text-align: center;
    color: white;
  }

  #searchBar {
    width: 350px;
    height: 40px;
    border-radius: 3px;
  }
  #searchButton {
    height: 40px;
    width: 140px;
    font-size: 1em;
    border-radius: 5px;
    color: $auxiliaryColor;
    background-color: $tertiaryColor;
    border: 1px solid rgba(78, 12, 12, 0.95);
  }

  #findBookTitle {
    color: white;
  }
  #searchResult {
    background-color: $secondaryColor;
    color: white;
    min-width: 350px;
    margin: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
  }
}

#addBookButton {
  height: 40px;
  width: 140px;
  background-color: $tertiaryColor;
  color: $auxiliaryColor;
  border-radius: none;
  border: none;
  font-size: 14px;
}
#addBookButton:hover {
  background-color: $mainColor;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
  transition: 1s;
}
// @media screen and (max-width:480px){
#root {
  height: 100%;
  width: 100%;
  background-image: url(https://media.istockphoto.com/photos/row-of-old-books-with-colorful-covers-on-pastel-blue-background-up-picture-id1126130554?k=6&m=1126130554&s=170667a&w=0&h=Q5yME6gGtwJGY1uNAPRzy1v1dQ0jlD6GuPNzCtWUsIE=);
  background-repeat: no-repeat;
  background-size: cover;
}
#googleLogin {
  height: 40px;
  width: 120px;
  border: 1px solid black;
  background: white;
}

#loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $mainColor;
}
#loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: center;
}
#signInBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondaryColor;
}

.input {
  height: 30px;
  width: 250px;
  margin: 15px;
  // border-radius: 5px;
  font-size: 1em;
  text-align: center;
  border: 1px solid rgb(191, 246, 9);
}
#loginTitle {
  color: $tertiaryColor;
  font-size: 48px;
  font-family: "Fredoka One", cursive;
  font-weight: 700;
}

#loginSubtext {
  font-family: helvetica;
  color: $tertiaryColor;
  margin-top: 0;
}
#button {
  width: 256px;
  height: 30px;
  margin: 15px;
  border-radius: 5px;
  background: $tertiaryColor;
  color: rgb(71, 67, 67);
  font-size: 1em;
}
#infoBox {
  margin-left: 15%;
  margin-right: 40px;
}
#button:hover {
  cursor: pointer;
  background-color: rgb(224, 223, 223);
  box-shadow: 1px 1px 1px rgb(10, 10, 10);
}

#loginForm {
  height: 550px;
  width: 400px;
  // border-radius: 5px;
  box-shadow: 1px 10px 11px 1px rgba(0, 0, 0, 0.52);
  // border: 2px solid $tertiaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signInForm {
  height: 650px;
  width: 400px;
  // border-radius: 5px;
  box-shadow: 1px 10px 11px 1px rgba(0, 0, 0, 0.52);
  // border: 2px solid $tertiaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginLink {
  margin-left: 27%;
  margin-top: 10px;
  font-size: 0.8em;
  color: $tertiaryColor;
}

#signInLink {
  margin-left: 42%;
  margin-top: 20px;
  font-size: 0.8em;
  color: $tertiaryColor;
}

#socialLoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 200px;
  width: 65%;
}

#googleImg {
  height: 22px;
  position: relative;
  left: 4px;
  top: 4px;
}

#googleButtonText {
  position: relative;
  left: 34px;
  bottom: 6px;
  font-size: 12.5px;
}
#twitterAuth {
  height: 31px;
  width: 117px;
  border: 1px solid white;
  background: white;
  font-size: 10px;
  display: flex;
}
#twitterButtonText {
  font-size: 12.5px;
  position: relative;
  bottom: 6px;
  left: 25px;
}
#twitterLink {
  text-decoration: none;
  color: gray;
  position: relative;
}
#twitterImg {
  height: 30px;
  position: relative;
  right: 0;
}
#fbImg {
  height: 25px;
  position: relative;
  left: 3px;
  top: 2px;
}

#fbText {
  font-size: 12.5px;
  position: relative;
  bottom: 7px;
  left: 30px;
}

#twitterButton {
  height: 100%;
  width: 100%;
  border: none;
}

#homeContainer {
  width: 100vw;
  height: 100vh;
}
// }
